[submodule "Countdown"]
	path = Countdown
	url = https://github.com/kairules55/Countdown
[submodule "Calculator"]
	path = Calculator
	url = https://github.com/kairules55/Calculator
[submodule "counter_practise"]
	path = counter_practise
	url = https://github.com/kairules55/counter_practise.git
[submodule "PingPong"]
	path = PingPong
	url = https://github.com/kairules55/PingPong
