* {
    box-sizing: border-box;
}

body {
    background-color: #0A192F;
}

.container {
    display: flex;
    padding: 80px;
    align-items: center;
    height: 97vh;
    width: 98vw;
}


/*FrontPage*/

#frontpage {
    color: #64FFDA;
    font-size: 1.5rem;
    font-family: 'Nanum Myeongjo', serif;
}

.title {
    font-size: 5rem;
    font-family: 'Nanum Myeongjo', serif;
    color: #CCD6F5;
    margin-top: 30px;
    font-weight: bold;
}

.designation {
    margin-top: -48px;
    font-size: 4rem;
    font-weight: bold;
    color: #8892B0;
    font-family: 'Nanum Myeongjo', serif;
}

/*Project*/

a{
    text-decoration: none;;
}